body {
/*   font-family: 'Brush Script MT', cursive; */
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background: #093145;
  color: #ffffff;
  overflow: hidden;
}

#reactroot {
  position: absolute;
  width: 100%;
  height:100%;
  left:0;
  top: 0;
  display: grid;
  --gap: 8q;
  grid-template-rows: var(--gap) 1fr var(--gap) 1cm;
  grid-template-columns: var(--gap) 1fr var(--gap);
  grid-template-areas:
    ". .    ."
    ". area ."
    ". .    ."
    ". opts ."
}

#reactroot > div {
  border: thin solid whitesmoke;
}

#reactroot > .area {
  grid-area: area;
}

#reactroot > .area-image {
  grid-area: area;
  border-image: url("../png/border2.png");
  border-image-slice: 512;
  border-image-repeat: round;
  border-width: 32px;
}

#settings {
  position: absolute;
  opacity: 0;
  height: 100%;
  background: navy;
  transition: all 0.5s;
  width: 100%;
  left: 0;
  top: -50%;
}

#settings[open] {
  opacity: 1;
  top: 0;
}

#reactroot > .options {
  grid-area: opts;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: flex-start;
}

#reactroot > .options > button {
  flex: 0 1 1in;
}

.introScreen div {
  text-align: center;
  vertical-align: middle;
}

.introScreen a {
  text-align: left;
  vertical-align: text-bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px;
}

.introScreen #cancelText {
  color: #FF0000;
}

.introScreen {
  height: 100vh;
  width: 100vw;
  border: 0px solid lightgreen;
  display: table-cell;
  vertical-align: middle;
}
